.col1{
    width: 25%;
    background-color: white;
    display: flex;
height: 1658px;
padding: 34px 10px;
flex-direction: column;
align-items: center;
gap: 61px;
border-radius: 7px;

}

.body{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.middlecol{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightcol{
    width: 23%;
}

.streams{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    margin-top: 10px;  

}
.streamstab{
    margin-top: 20px;
}