.card{
    display: flex;
width: 156.831px;
height: 198.345px;
padding: 3.69px 4.613px;
flex-direction: column;
align-items: flex-start;
gap: 4.613px;
border-radius: 6.458px;
background: #FFF;
box-shadow: 0 3.69px 9.225px 1.845px rgba(0, 0, 0, 0.18);
}

.cardimg{
    width: 100%;
}

.profile{
    display: flex;
justify-content: center;
align-items: center;
gap: 3.69px;
}

.profile h5{
    color: #000;
font-family: "Poppins";
font-size: 14.761px;
font-style: normal;
font-weight: 400;
line-height: normal;
}