.confirm{
    display: flex;
width: 150px;
height: 36px;
padding: 9px 28px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 7px;
background: #1877F2;
color: #FFF;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
outline: none;
border: 0;
}