*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}


.groups{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 13px;
align-self: stretch;
}

.grouplist{
    display: flex;
padding: 8px 0;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 22px;
}

