*{
    box-sizing: border-box;
}


.nav{
    display: flex;
width: 100%;
padding: 11px 20px;
justify-content: space-between;
align-items: center;
background: #FFF;
}

.navicons{
    display: flex;
justify-content: center;
align-items: center;
gap: 70px;
}