*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.blog{
    display: flex;
width: 710px;
height: 128px;
padding: 12px 18px;
flex-direction: column;
align-items: center;
gap: 16px;
border-radius: 7px;
background: #FFF;
}

.row1{
    display: flex;
padding-bottom: 19px;
align-items: center;
gap: 8px;
border-bottom: 1px solid #B5B5B5;
}

.writebox{
    display: flex;
width: 617px;
height: 40px;
padding: 10px 13px;
align-items: center;
gap: 10px;
border-radius: 31px;
background: #F0F2F5;
}

.writebox h3{
    color: #65676B;
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.row2{
    display: flex;
align-items: flex-end;
gap: 94px;
}

.postbtn{
    display: flex;
justify-content: center;
align-items: center;
gap: 6px;

}

.postbtn h4{
    color: #65676B;
font-family: "Poppins";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}